<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.si{
    float:right;
}

</style>
<body>
    <marquee class="si" width="60%" behavior="scroll" direction="up"  height="100px">
                {{mh}}
    </marquee>
      <br>
    <a href="/details/"><input type="submit" value="exams"></a><br>
    <a href="/dep1/"><input type="submit" value="departments"></a><br>
    <a href="/event/"><input type="submit" value="events"></a><br>
    <a href="/faculty/"><input type="submit" value="facalty information"></a><br>
    <a href="/student12/"><input type="submit" value="student information"></a>

    
</body>
</html>